<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	 <display-name>domHomeServlet</display-name>
	 <welcome-file-list>
	   	<welcome-file>index.html</welcome-file>
	   	<welcome-file>index.htm</welcome-file>
	   	<welcome-file>index.jsp</welcome-file>
	   	<welcome-file>default.html</welcome-file>
	   	<welcome-file>default.htm</welcome-file>
	   	<welcome-file>default.jsp</welcome-file>
	 </welcome-file-list>
  
	<servlet>
		<servlet-name>DomoticInterface</servlet-name>
		<servlet-class>Interface</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DomoticInterface</servlet-name>
		<url-pattern>/set-sicurezza</url-pattern>
		<url-pattern>/get-sicurezza</url-pattern>
		<url-pattern>/set-box-auto</url-pattern>
		<url-pattern>/get-box-auto</url-pattern>
		<url-pattern>/set-temperatura-on-off</url-pattern>
		<url-pattern>/get-temperatura</url-pattern>
		<url-pattern>/get-temp-corr</url-pattern>
		<url-pattern>/set-temperatura-10</url-pattern>
		<url-pattern>/set-temperatura-11</url-pattern>
		<url-pattern>/set-temperatura-12</url-pattern>
		<url-pattern>/set-temperatura-13</url-pattern>
		<url-pattern>/set-temperatura-14</url-pattern>
		<url-pattern>/set-temperatura-15</url-pattern>
		<url-pattern>/set-temperatura-16</url-pattern>
		<url-pattern>/set-temperatura-17</url-pattern>
		<url-pattern>/set-temperatura-18</url-pattern>
		<url-pattern>/set-temperatura-19</url-pattern>
		<url-pattern>/set-temperatura-20</url-pattern>
		<url-pattern>/set-temperatura-21</url-pattern>
		<url-pattern>/set-temperatura-22</url-pattern>
		<url-pattern>/set-temperatura-23</url-pattern>
		<url-pattern>/set-temperatura-24</url-pattern>
		<url-pattern>/set-temperatura-25</url-pattern>
		<url-pattern>/set-temperatura-26</url-pattern>
		<url-pattern>/set-temperatura-27</url-pattern>
		<url-pattern>/set-temperatura-28</url-pattern>
		<url-pattern>/set-temperatura-29</url-pattern>
		<url-pattern>/set-temperatura-30</url-pattern>
		<url-pattern>/set-incendio</url-pattern>
		<url-pattern>/get-incendio</url-pattern>
		<url-pattern>/set-luce-salone</url-pattern>
		<url-pattern>/get-luce-salone</url-pattern>
		<url-pattern>/set-luce-camera</url-pattern>
		<url-pattern>/get-luce-camera</url-pattern>
		<url-pattern>/set-luce-bagno</url-pattern>
		<url-pattern>/get-luce-bagno</url-pattern>
		<url-pattern>/set-luce-cucina</url-pattern>
		<url-pattern>/get-luce-cucina</url-pattern>
		<url-pattern>/set-tapparella-salone</url-pattern>
		<url-pattern>/get-tapparella-salone</url-pattern>
		<url-pattern>/set-tapparella-camera</url-pattern>
		<url-pattern>/get-tapparella-camera</url-pattern>
		<url-pattern>/set-tapparella-bagno</url-pattern>
		<url-pattern>/get-tapparella-bagno</url-pattern>
		<url-pattern>/set-tapparella-cucina</url-pattern>
		<url-pattern>/get-tapparella-cucina</url-pattern>
		<url-pattern>/set-luce-auto-salone-on-off</url-pattern>
		<url-pattern>/get-luce-auto-salone</url-pattern>
		<url-pattern>/set-luce-auto-camera-on-off</url-pattern>
		<url-pattern>/get-luce-auto-camera</url-pattern>
		<url-pattern>/set-luce-auto-bagno-on-off</url-pattern>
		<url-pattern>/get-luce-auto-bagno</url-pattern>
		<url-pattern>/set-luce-auto-cucina-on-off</url-pattern>
		<url-pattern>/get-luce-auto-cucina</url-pattern>
		<url-pattern>/set-luce-auto-salone-1</url-pattern>
		<url-pattern>/set-luce-auto-salone-2</url-pattern>
		<url-pattern>/set-luce-auto-salone-3</url-pattern>
		<url-pattern>/set-luce-auto-salone-4</url-pattern>
		<url-pattern>/set-luce-auto-salone-5</url-pattern>
		<url-pattern>/set-luce-auto-salone-6</url-pattern>
		<url-pattern>/set-luce-auto-salone-7</url-pattern>
		<url-pattern>/set-luce-auto-salone-8</url-pattern>
		<url-pattern>/set-luce-auto-salone-9</url-pattern>
		<url-pattern>/set-luce-auto-salone-10</url-pattern>
		<url-pattern>/set-luce-auto-camera-1</url-pattern>
		<url-pattern>/set-luce-auto-camera-2</url-pattern>
		<url-pattern>/set-luce-auto-camera-3</url-pattern>
		<url-pattern>/set-luce-auto-camera-4</url-pattern>
		<url-pattern>/set-luce-auto-camera-5</url-pattern>
		<url-pattern>/set-luce-auto-camera-6</url-pattern>
		<url-pattern>/set-luce-auto-camera-7</url-pattern>
		<url-pattern>/set-luce-auto-camera-8</url-pattern>
		<url-pattern>/set-luce-auto-camera-9</url-pattern>
		<url-pattern>/set-luce-auto-camera-10</url-pattern>
		<url-pattern>/set-luce-auto-bagno-1</url-pattern>
		<url-pattern>/set-luce-auto-bagno-2</url-pattern>
		<url-pattern>/set-luce-auto-bagno-3</url-pattern>
		<url-pattern>/set-luce-auto-bagno-4</url-pattern>
		<url-pattern>/set-luce-auto-bagno-5</url-pattern>
		<url-pattern>/set-luce-auto-bagno-6</url-pattern>
		<url-pattern>/set-luce-auto-bagno-7</url-pattern>
		<url-pattern>/set-luce-auto-bagno-8</url-pattern>
		<url-pattern>/set-luce-auto-bagno-9</url-pattern>
		<url-pattern>/set-luce-auto-bagno-10</url-pattern>
		<url-pattern>/set-luce-auto-cucina-1</url-pattern>
		<url-pattern>/set-luce-auto-cucina-2</url-pattern>
		<url-pattern>/set-luce-auto-cucina-3</url-pattern>
		<url-pattern>/set-luce-auto-cucina-4</url-pattern>
		<url-pattern>/set-luce-auto-cucina-5</url-pattern>
		<url-pattern>/set-luce-auto-cucina-6</url-pattern>
		<url-pattern>/set-luce-auto-cucina-7</url-pattern>
		<url-pattern>/set-luce-auto-cucina-8</url-pattern>
		<url-pattern>/set-luce-auto-cucina-9</url-pattern>
		<url-pattern>/set-luce-auto-cucina-10</url-pattern>
		<url-pattern>/set-finestra-salone</url-pattern>
		<url-pattern>/get-finestra-salone</url-pattern>
		<url-pattern>/set-finestra-camera</url-pattern>
		<url-pattern>/get-finestra-camera</url-pattern>
		<url-pattern>/set-finestra-bagno</url-pattern>
		<url-pattern>/get-finestra-bagno</url-pattern>
		<url-pattern>/set-finestra-cucina</url-pattern>
		<url-pattern>/get-finestra-cucina</url-pattern>
	</servlet-mapping>

</web-app>