<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	 <display-name>domHome</display-name>
	 <welcome-file-list>
	   	<welcome-file>index.html</welcome-file>
	   	<welcome-file>index.htm</welcome-file>
	   	<welcome-file>index.jsp</welcome-file>
	   	<welcome-file>default.html</welcome-file>
	   	<welcome-file>default.htm</welcome-file>
	   	<welcome-file>default.jsp</welcome-file>
	 </welcome-file-list>
  
	<servlet>
		<servlet-name>DomoticInterface</servlet-name>
		<servlet-class>Interface</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DomoticInterface</servlet-name>
		<url-pattern>/set-security-general-null</url-pattern>
		<url-pattern>/get-security</url-pattern>
		<url-pattern>/set-garageDoor-general-null</url-pattern>
		<url-pattern>/get-garageDoor</url-pattern>
		<url-pattern>/set-autoTemp-general-null</url-pattern>
		<url-pattern>/get-autoTemp</url-pattern>
		<url-pattern>/get-currentTemp</url-pattern>
		<url-pattern>/set-temp-general-10</url-pattern>
		<url-pattern>/set-temp-general-11</url-pattern>
		<url-pattern>/set-temp-general-12</url-pattern>
		<url-pattern>/set-temp-general-13</url-pattern>
		<url-pattern>/set-temp-general-14</url-pattern>
		<url-pattern>/set-temp-general-15</url-pattern>
		<url-pattern>/set-temp-general-16</url-pattern>
		<url-pattern>/set-temp-general-17</url-pattern>
		<url-pattern>/set-temp-general-18</url-pattern>
		<url-pattern>/set-temp-general-19</url-pattern>
		<url-pattern>/set-temp-general-20</url-pattern>
		<url-pattern>/set-temp-general-21</url-pattern>
		<url-pattern>/set-temp-general-22</url-pattern>
		<url-pattern>/set-temp-general-23</url-pattern>
		<url-pattern>/set-temp-general-24</url-pattern>
		<url-pattern>/set-temp-general-25</url-pattern>
		<url-pattern>/set-temp-general-26</url-pattern>
		<url-pattern>/set-temp-general-27</url-pattern>
		<url-pattern>/set-temp-general-28</url-pattern>
		<url-pattern>/set-temp-general-29</url-pattern>
		<url-pattern>/set-temp-general-30</url-pattern>
		<url-pattern>/set-fireSystem-general-null</url-pattern>
		<url-pattern>/get-fireSystem</url-pattern>
		<url-pattern>/set-light-hall-null</url-pattern>
		<url-pattern>/get-light-hall</url-pattern>
		<url-pattern>/set-light-bedroom-null</url-pattern>
		<url-pattern>/get-light-bedroom</url-pattern>
		<url-pattern>/set-light-bathroom-null</url-pattern>
		<url-pattern>/get-light-bathroom</url-pattern>
		<url-pattern>/set-light-kitchen-null</url-pattern>
		<url-pattern>/get-light-kitchen</url-pattern>
		<url-pattern>/set-shutter-hall-null</url-pattern>
		<url-pattern>/get-shutter-hall</url-pattern>
		<url-pattern>/set-shutter-bedroom-null</url-pattern>
		<url-pattern>/get-shutter-bedroom</url-pattern>
		<url-pattern>/set-shutter-bathroom-null</url-pattern>
		<url-pattern>/get-shutter-bathroom</url-pattern>
		<url-pattern>/set-shutter-kitchen-null</url-pattern>
		<url-pattern>/get-shutter-kitchen</url-pattern>
		<url-pattern>/set-autoLightning-hall-null</url-pattern>
		<url-pattern>/get-autoLightning-hall</url-pattern>
		<url-pattern>/set-autoLightning-bedroom-null</url-pattern>
		<url-pattern>/get-autoLightning-bedroom</url-pattern>
		<url-pattern>/set-autoLightning-bathroom-null</url-pattern>
		<url-pattern>/get-autoLightning-bathroom</url-pattern>
		<url-pattern>/set-autoLightning-kitchen-null</url-pattern>
		<url-pattern>/get-autoLightning-kitchen</url-pattern>
		<url-pattern>/set-lightning-hall-1</url-pattern>
		<url-pattern>/set-lightning-hall-2</url-pattern>
		<url-pattern>/set-lightning-hall-3</url-pattern>
		<url-pattern>/set-lightning-hall-4</url-pattern>
		<url-pattern>/set-lightning-hall-5</url-pattern>
		<url-pattern>/set-lightning-hall-6</url-pattern>
		<url-pattern>/set-lightning-hall-7</url-pattern>
		<url-pattern>/set-lightning-hall-8</url-pattern>
		<url-pattern>/set-lightning-hall-9</url-pattern>
		<url-pattern>/set-lightning-hall-10</url-pattern>
		<url-pattern>/set-lightning-bedroom-1</url-pattern>
		<url-pattern>/set-lightning-bedroom-2</url-pattern>
		<url-pattern>/set-lightning-bedroom-3</url-pattern>
		<url-pattern>/set-lightning-bedroom-4</url-pattern>
		<url-pattern>/set-lightning-bedroom-5</url-pattern>
		<url-pattern>/set-lightning-bedroom-6</url-pattern>
		<url-pattern>/set-lightning-bedroom-7</url-pattern>
		<url-pattern>/set-lightning-bedroom-8</url-pattern>
		<url-pattern>/set-lightning-bedroom-9</url-pattern>
		<url-pattern>/set-lightning-bedroom-10</url-pattern>
		<url-pattern>/set-lightning-bathroom-1</url-pattern>
		<url-pattern>/set-lightning-bathroom-2</url-pattern>
		<url-pattern>/set-lightning-bathroom-3</url-pattern>
		<url-pattern>/set-lightning-bathroom-4</url-pattern>
		<url-pattern>/set-lightning-bathroom-5</url-pattern>
		<url-pattern>/set-lightning-bathroom-6</url-pattern>
		<url-pattern>/set-lightning-bathroom-7</url-pattern>
		<url-pattern>/set-lightning-bathroom-8</url-pattern>
		<url-pattern>/set-lightning-bathroom-9</url-pattern>
		<url-pattern>/set-lightning-bathroom-10</url-pattern>
		<url-pattern>/set-lightning-kitchen-1</url-pattern>
		<url-pattern>/set-lightning-kitchen-2</url-pattern>
		<url-pattern>/set-lightning-kitchen-3</url-pattern>
		<url-pattern>/set-lightning-kitchen-4</url-pattern>
		<url-pattern>/set-lightning-kitchen-5</url-pattern>
		<url-pattern>/set-lightning-kitchen-6</url-pattern>
		<url-pattern>/set-lightning-kitchen-7</url-pattern>
		<url-pattern>/set-lightning-kitchen-8</url-pattern>
		<url-pattern>/set-lightning-kitchen-9</url-pattern>
		<url-pattern>/set-lightning-kitchen-10</url-pattern>
		<url-pattern>/set-window-hall-null</url-pattern>
		<url-pattern>/get-window-hall</url-pattern>
		<url-pattern>/set-window-bedroom-null</url-pattern>
		<url-pattern>/get-window-bedroom</url-pattern>
		<url-pattern>/set-window-bathroom-null</url-pattern>
		<url-pattern>/get-window-bathroom</url-pattern>
		<url-pattern>/set-window-kitchen-null</url-pattern>
		<url-pattern>/get-window-kitchen</url-pattern>
		<url-pattern>/set-fan-hall-null</url-pattern>
		<url-pattern>/get-fan-hall</url-pattern>
		<url-pattern>/set-fan-bedroom-null</url-pattern>
		<url-pattern>/get-fan-bedroom</url-pattern>
		<url-pattern>/set-fan-bathroom-null</url-pattern>
		<url-pattern>/get-fan-bathroom</url-pattern>
		<url-pattern>/set-fan-kitchen-null</url-pattern>
		<url-pattern>/get-fan-kitchen</url-pattern>
	</servlet-mapping>

</web-app>